<header class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">    
        <li>
          <a href="{{ '/' | prepend: site.baseurl }}">Home</a>
        </li>
        <li>
          <a href="{{ '/categories/' | prepend: site.baseurl }}">Category</a>
        </li>
        <li>
          <a href="{{ '/tag' | prepend: site.baseurl }}">Tag</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
            <a><span id="busuanzi_container_site_pv">Post</span></a>
        </li>
          <li>
              <a href="{{ '/download' | prepend: site.baseurl }}">Download</a>
          </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manual</a>
          <ul class="dropdown-menu">
            <li><a rel="nofollow" href="{{ '/wpf_manual' | prepend: site.baseurl }}">WPF</a></li>
            <li><a rel="nofollow" href=".">UWP</a></li>
            <li><a rel="nofollow" href=".">Android</a></li>
            <li class="divider"></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>